{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/news.css' %}">

{% endblock extra_css %}

{% block content %}

<a href="{% url 'index' %}" style="float: left;"> < {% trans "Come back" %}</a>
<br>

<h1>{% trans "News items" %}</h1>

<ul>
    {% for news in news_items %}
    <a href="{% url 'news_item_detail' news.pk %}" > {{ news.title }} </a>
    <br />
    <br />
    {% endfor %}
</ul>

<h1>{% trans "Events" %}</h1>

<ul>
    {% for event in events %}
    <a href="{% url 'event_detail' event.pk %}" > {{ event.title }} </a>
    <br />
    <br />
    {% endfor %}
</ul>


{% endblock content %}