{% load i18n %}
<div class="block-logo">
    <a href="{% url 'index' %}" class="web-title">{% trans "Header title" %}</a>
</div>


<div class="block-menu">
  <span class="menu-item active_header">
    <a id="id_section_1_header" href="#" class="link-menu">{% trans "Section #1" %}</a>
  </span>
    <span class="menu-item">
    <a id="id_section_2_header" href="#" class="link-menu">{% trans "Section #2" %}</a>
  </span>
    <span class="menu-item}">
    <a id="id_section_3_header" href="#" class="link-menu">{% trans "Section #3" %}</a>
  </span>
    <span class="menu-item">
    <a id="id_section_4_header" href="#" class="link-menu">{% trans "Section #4" %}</a>
  </span>
    <div class="block-language">
        {% block language-selector %}
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ request.path }}" />
                <select id="id_select_language" name="language" onchange="this.form.submit()">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.code }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        {% endblock %}
    </div>
    {% if user.is_authenticated %}
        <div class="logout">
            <div id="over_user" class="configuration_active"></div>
            <a id="id_logout" class="logout_button" href="{% url 'logout' %}" title="Logout">Logout</a>
            <div id="configuration_menu" class="configuration_menu arrow_box hidden">
                <ul>
                    <a id="id_personal_menu_1" href="#"><li class="divider">{% trans 'Personal menu #1' %}</li></a>
                    <a id="id_personal_menu_2" href="#"><li>{% trans 'Personal menu #2' %}</li></a>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="block-login">
            <span class="not-account-yet">{% trans "Don't have an account yet?" %}</span>
            <span>
          <a id="id_registration" href="{% url 'registration_register' %}" class="btn btn-registration">{% trans "Register" %}</a>
      </span>
            <span>
          <a id="id_login" {%  if '/accounts' in request.path %}  class="btn btn-login" href="{% url 'login' %}"
          {% else %}  class="login-no-register btn btn-login" href="#"{% endif %}>{% trans "Login" %}</a>
      </span>
        </div>
    {% endif %}

</div>
<div class="bg-color-white">
    <div id="id_breadcrumbs" class="breadcrumbs">
        {% if breadcrumbs|length == 1 %}
            {% for crumb in breadcrumbs %}
                <a class="breadcrumb " href="{% url crumb.1 %}">{{ crumb.0 }} </a>
            {% endfor %}
        {% else %}
            {% for crumb in breadcrumbs %}
                {% if not forloop.last or forloop.first %}
                    <a class="breadcrumb " href="{% url crumb.1 %}"> {{ crumb.0 }} </a>
                    >
                {% else %}
                    {{ crumb.0 }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>


